@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerlof Productions</title>
    <link href="~/Content/landingpage.css" rel="stylesheet" />
</head>
<body>
    <div id="slideshow">
        
    </div>

    <div id="main">
        <img src="~/Images/milanovLogo.png" />
        <form>
            <input id="searchField" type="text" placeholder="Search images..."/>
            <input id="searchButton" type="submit" value="Search" />
        </form>
    </div>

    <div id="footer">

    </div>
</body>
</html>
