<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerlof Productions</title>
    <link href="~/Content/Overview.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
</head>
<body oncontextmenu="return false">
    <div id="main">
        <div class="left">
            <a href="" class="logo"><img src="~/Images/milanovLogoWhite.png" /></a>    

            <div id="filters">
                <span class="title">Refine collection</span>

                <form action="" method="post">
                    <input type="text" name="keyword" class="field" placeholder="Search..." />
                </form>

                <div class="box">
                    <span>Color</span><span class="handler open"></span>
                    <ul></ul>
                </div>

                <div class="box">
                    <span>Orientation</span><span class="handler open"></span>

                    <ul></ul>
                </div>

                <div class="box">
                    <span>Category</span><span class="handler open"></span>

                    <ul>

                    </ul>
                </div>

                <div class="box">
                    <span>Price range</span><span class="handler open"></span>
                </div>
            </div>
        </div>
        <div class="right">
            <div id="topMenu">

            </div>
            <div class="photos">
                <ul>

                </ul>
            </div>
        </div>
    </div>

</body>
</html>
