* {
    margin: 0px;
    padding: 0px;
}

.clear {
    clear: both;
}

.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#top {
    height: 40px;
    width: 100%;
    position: relative;
    background: url(../Images/bg_top.jpg) repeat-x;
    z-index: 9;
}

    #top .inner {
        position: relative;
        width: 100%;
        padding-left: 20px;
    }

        #top .inner .languages {
            display: block;
            padding-top: 6px;
        }

            #top .inner .languages a {
                margin-right: 8px;
                opacity: 0.5;
            }

            #top .inner .languages a:hover, .top .inner .languages a.selected {
                opacity: 1;
            }

        #top .inner .shopping {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -131px;
            width: 121px;
        }

        #top .inner .shopping span {
            position: absolute;
            top: 12px;
            right: 14px;
            color: #fff;
            font-family: 'Khmer UI', Arial;
            font-size: 14px;
            font-weight: bold;
        }

        #top .inner .login {
            position: absolute;
            top: 6px;
            right: 10px;
        }

            #top .inner .login a {
                color: #fff;
                font-family: 'Khmer UI', Arial;
                font-size: 14px;
                font-weight: bold;    
                text-decoration: none;        
            }

#sticker {
    position: absolute;
    right: 5%;
    top: 20px;
    z-index: 10;
}

#content {
    width: 80%;
    height: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    margin-left: 10%;
    margin-top: 60px;
    overflow: hidden;
    position: relative;
}

    #content .left {
        width: 260px;
        height: 100%;
        background: #02477A;
        padding: 10px;
        float: left;
    }

    #content .left a.logo {
        display: block;
        width: 160px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

        #content .left a.logo img {
            width: 100%;
        }

    #content .left li {
        list-style: none;
    }

    #content .left li a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-family: 'Khmer UI', Arial;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        width: 200px;
        padding: 5px 0px;
        margin: 0 auto;
        background: url(../Images/Btn/btn_bg_blue.jpg) repeat-x;
        margin-bottom: 10px;
        border-radius: 8px;
    }

        #content .left li a:hover {
            background: url(../Images/Btn/btn_bg_grey.jpg) repeat-x;
        }

    #content .right {
        float: right;
        width: 100%;
    }

    #content .right h1 {
        font-size: 30px;
        font-family: 'Khmer UI', Arial;
        color: #02477a;
        padding: 10px 0px 20px;
    }

    #content .right p {
        font-size: 12px;
        font-family: 'Khmer UI', Arial;
        color: #000;
        line-height: 18px;
        padding-bottom: 20px;
    }