* {
    margin:0px;
    padding:0px;
}

body {

}

#main {
    width:60%;
    min-width:320px;
    position:relative;
    margin:0 auto;
}

#main img {
    display:block;
    margin:100px auto 0px;
}

#main form {
    position:relative;
}

#searchField {
    width:96%;
    height:48px;
    border-radius:10px;
    box-shadow:rgba(0,0,0,0.4) 0 0 15px inset;
    font-family:'Khmer UI', Arial;
    font-size:27px;
    padding:0 2%;
    outline:none;
    border:0;
}

#searchButton {
    width:138px;
    height:39px;
    border:0;
    border-radius:10px;
    background:url(../Images/btn_src.png) no-repeat center center;
    background-size:contain;
    position:absolute;
    top:5px;
    right:0px;
}

#footer {
    width:360px;
    min-width:320px;
    position:relative;
    margin:0 auto;
}