* {
    margin: 0px;
    padding: 0px;
}

.clear {
    clear: both;
}

#main {
    position: relative;
    background: #fff;
    height: 100%;
}

.top {
    height: 40px;
    width: 100%;
    margin-left: 260px;
    position: absolute;
    background: url(../Images/bg_top.jpg) repeat-x;
    z-index: 9;
}

    .top .inner {
        position: relative;
        width: 100%;
        padding-left: 20px;
    }

        .top .inner .languages {
            display: block;
            padding-top: 6px;
        }

            .top .inner .languages a {
                margin-right: 8px;
                opacity: 0.5;
            }

            .top .inner .languages a:hover, .top .inner .languages a.selected {
                opacity: 1;
            }

        .top .inner .shopping {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -131px;
            width: 121px;
        }

        .top .inner .shopping span {
            position: absolute;
            top: 12px;
            right: 14px;
            color: #fff;
            font-family: 'Khmer UI', Arial;
            font-size: 14px;
            font-weight: bold;
        }

.stroke {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 263px;
    top: 0px;
    background: #02477a;
}

.left {
    position: fixed;
    width: 260px;
    display: inline-block;
    background: #02477a;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

    .left a.logo {
        display: block;
        width: 260px;
        height: 165px;
        text-align: center;
        outline: none;
    }

    .left a.logo img {
        width: 156px;
        margin-top: 22px;
    }

#filters {
    padding: 20px;
    color: #fff;
    background: #023c67;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

    #filters span.title {
        font-family: 'Khmer UI', Arial;
        font-size: 16px;
        padding-bottom: 15px;
        display: block;
    }

    #filters span.handler {
        position: relative;
        width: 31px;
        height: 19px;
        display: inline-block;
        float: right;
        cursor: pointer;
    }


    #filters span.open {
        background: url(../../Images/Btn/btn_up_filter_box.png) no-repeat center center;
    }

    #filters span.close {
        background: url(../../Images/Btn/btn_down_filter_box.png) no-repeat center center;
    }

    #filters input[name="keyword"] {
        font-family: 'Khmer UI', Arial;
        font-size: 14px;
        margin-bottom: 20px;
        padding: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) inset;
        border-radius: 10px;
        border: 0px;
        width: 200px;
    }

    #filters .box {
        font-family: 'Khmer UI', Arial;
        font-size: 14px;
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        background: #fff;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) inset;
        color: #000;
        border-radius: 10px;
        height: 17px;
    }

        #filters .box ul {
            margin-top: 20px;
            display: none;
        }

        #filters .box ul li {
            list-style: none;    
        }

        #filters .box .colorHolder li {
            position: relative;
            float: left;
            list-style: none;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        #filters .box .orientationHolder, #filters .box .categoryHolder {
            line-height: 20px;
        }

            #filters .box .checkbox {
                display: inline-block;
                width: 8px;
                height: 8px;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5) inset;
                cursor: pointer;
                margin-right: 8px;
                float: left;
                margin-top: 6px;
                position: relative;
            }

                #filters .box .checkbox.clicked .inner {
                    width: 11px;
                    height: 11px;
                    display: inline-block;
                    background: url("../Images/check.png") no-repeat;
                    position: absolute;
                    left: -1px;
                    top: -2px;
                }

            #filters .box .label {
                cursor: pointer;
            }

        #filters .box .tooltip {
            background: url("../Images/tooltip.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            color: #FFFFFF;
            height: 32px;
            left: -23px;
            line-height: 24px;
            position: absolute;
            text-align: center;
            top: -32px;
            width: 60px;
            opacity: 0;
            display: block;
        }

        #filters .box .color {
            display: block;
            width: 14px;
            height: 14px;
            cursor: pointer;
            opacity: 0.4;
        }

            #filters .box .color.clicked {
                opacity: 1;
                width: 12px;
                height: 12px;
                border: 1px dotted #000 !important;
            }

            #filters .box .color.black.clicked {
                border: 1px dotted #fff !important;
            }

        #filters .box .color:hover {
            opacity: 1;
        }

            #filters .box .color.red {
                background-color: red;
            }

            #filters .box .color.orange {
                background-color: orange;
            }

            #filters .box .color.yellow {
                background-color: yellow;
            }

            #filters .box .color.green {
                background-color: green;
            }

            #filters .box .color.cyan {
                background-color: cyan;
            }

            #filters .box .color.blue {
                background-color: blue;
            }

            #filters .box .color.purple {
                background-color: purple;
            }

            #filters .box .color.pink {
                background-color: pink;
            }

            #filters .box .color.white {
                background-color: white;
                width: 12px;
                height: 12px;
                border: 1px solid #000;
            }

            #filters .box .color.grey {
                background-color: grey;
            }

            #filters .box .color.black {
                background-color: black;
            }

            #filters .box .color.brown {
                background-color: brown;
            }

    #filters .btn {
        border: 0px;
        border-radius: 8px;
        height: 26px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Khmer UI', Arial;
        padding: 0px 8px;
        color: #fff;
        cursor: pointer;
        width: 100px;
    }

    #filters .btn.search {
        background: url(../Images/Btn/btn_bg_blue.jpg) repeat-x;
        margin-right: 17px;
    }

    #filters .btn.cancel {
        background: url(../Images/Btn/btn_bg_grey.jpg) repeat-x;
        float: right;
    }

.ui-slider-horizontal {
    width: 60%;
    margin-left: 1.2%;
    display: inline-block;
}

#min, #max {
    font-family: 'Khmer UI', Arial;
    display: inline-block;
    width: 17%;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    color: #000;
}

#min {
    float: left;
}

#max {
    float: right;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 100;
}

#boxOverlay {
    width: 75%;
    position: absolute;
    background: White;
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.4) 0 0 15px;
    top: 12.5%;
    left: 12.5%;
    padding: 15px;
    font-family: 'Khmer UI', Arial;
}

#picture {
    width: 100%;
    height: 300px;
    background: Gray;
}

#description {
}

    #description h2 {
        padding-top:15px;
        padding-bottom:5px;
    }

    #description p {
        border-bottom: 1px dashed gray;
        padding-bottom:15px;
        margin-bottom:15px;
    }

#addCart {
    font-size: 18px;
    font-weight:bold;
}

    #addCart p {
        float:left;
        margin-top:8px;
    }

#cartButton {
    width: 198px;
    height: 38px;
    border-radius: 10px;
    border: 0;
    display: block;
    background: url(../Images/Btn/btn_green.png) repeat-x left center;
    background-size: contain;
    color: white;
    cursor: pointer;
    outline: none;
    text-align: center;

    float:right;
}

#closeOverlay {
    background: url(../Images/Btn/btn_close.png);
    background-size: contain;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    right: -16px;
    cursor: pointer;
}

@media only screen and (max-device-width: 600px), only screen and (max-width: 600px) {
    #overlay {
        position:fixed;
        overflow:scroll;
    }

    #boxOverlay {
        position:relative;
        margin: 0 auto;
        left:0px;
    }
}